<div class="col-md-12" data-ng-controller="zoneController">
	<table>
		<tr>
			<td>
				<p><strong>Zone</strong></p>
				{{index}}
			</td>
			<td>
				<p>Identifire</p>
			</td>
			<td>
				<select data-ng-model="zoneIdentifire" data-ng-change="zone.updateLabel()">
				  <option data-ng-repeat="zone in vennDiagram.infographic.data_set.zone">{{zone.label}}</option>
				</select>
			</td>
			<td>
				<p>Label</p>
			</td>
			<td>
				<select data-ng-model="zoneLabel" data-ng-change="updateZone()">
				  <option selected="selected">ignore</option>
				  <option data-ng-model="labelOption">{{labelOption}}</option>
				</select>
			</td>
			<td>
				<p>Color</p>
			</td>
			<td>
				<select data-ng-model="zoneColor" data-ng-change="updateZone()">
				  <option selected="selected">ignore</option>
				  <option>colored</option>
				</select>
			</td>
		</tr>
	</table>
	

</div>